body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2d3640;
    text-align: left;
    background-color: #fff;
}

.control-label {
  font-weight: 600;
  font-family: Arial;
}

hr {
    margin: 1rem 0;
    color: #2d3640;
    border: 0;
    border-top: 1px solid;
    opacity: .5;
}

.navbar.navbar-default {
    background-color: #3398cb !important;
    padding: 0px;
    margin: 0px;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 4px 2px -2px #2d3640;
}

.nav-link {
  color: #f5f5f5;
}

.nav-tabs {
    --bs-nav-tabs-link-active-bg: #3398cb;
    --bs-nav-tabs-link-active-color: #f8f9fa;
    --bs-nav-tabs-border-width: 2px;
    --bs-nav-tabs-border-color: #3398cb;
    --bs-nav-tabs-link-active-border-color: #3398cb;
    border-bottom: var(--bs-nav-tabs-border-width) solid #3398cb;
    --bs-nav-tabs-link-hover-border-color: #84c1df;
}

.nav-tabs {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.nav-link.active {
  color: #ed5535;
}

.navbar-brand {
display: flex;
justify-content: center;
}

label.radio-inline {
  padding: 10px;
}

.material-switch {
  font-weight: 600;
  font-family: Arial;
}
